<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="board : ${boards}">
            <td><a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.id}"></a></td>
            <td th:text="${board.title}"}></td>
            <td th:text="${board.contents}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>